backend/OceanPortfolioOptimization/

*.png
*.sqlite
*.pyc
**/*.pyc
*.log
*.rar
*.dat
~$*
*tmp
*.dat
*.shp
*.cpg
*.dbf
*.prj
*.html
*.shx
*.mat
*.nc
*.grb2
*.MD5
.vscode/*
.ipynb_checkpoints
__pycache__/
*.npz
*.qpj

#Reference papers
backend/OceanPortfolioOptimization/References/ 
backend/OceanPortfolioOptimization/InputData/Wave/References/

#Data
backend/OceanPortfolioOptimization/KiteLF_Optimization/DataSetPlatform.mat
backend/OceanPortfolioOptimization/KiteLF_Optimization/DataSetSeabed.mat
backend/OceanPortfolioOptimization/KiteLF_Optimization/functions/DataSet1.mat
backend/OceanPortfolioOptimization/Wind_AE/WindEnergyNREL_100m_Haliade150_6MW.npz

#Delete
backend/OceanPortfolioOptimization/Organize/
backend/OceanPortfolioOptimization/PlotWind_Wave.ipynb
backend/OceanPortfolioOptimization/PortOptimization.ipynb
backend/OceanPortfolioOptimization/OutputData/OceanCurrent/CheckOCGeneration.ipynb
backend/OceanPortfolioOptimization/InputData/Wave/EVA_Wave.pptx

backend/opo